<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>

    <main>
    <h1>Aca estamos creando un alumno</h1>
    <div class = "presentacion">
    <form action="/alumnos/crear" method="POST" enctype="multipart/form-data">
    <label for = "name">Nombre</label>
    <input type="text" name = "name" placeholder="Nombre de alumno">
    <br>
    <br>
    <label for = "edad">Edad: </label>
    <input type="text" name = "edad" placeholder="Edad del alumno">
    <br>
    <br>
    <label for = "profesion">Profesion: </label>
    <input type="text" name = "profesion" placeholder="Profesion del alumno">
    <br>
    <br>
    <label for = "nacionalidad">Nancionalidad: </label>
    <input type="text" name = "nacionalidad" placeholder="Nacionalidad del alumno">
    <br>
    <br>
    <label for = "imagen">Imagen: </label>
    <input type = "file" name = "imagen">
    <br>
    <br>
    <input type = "submit" value="CREAR">
    </form>
    <br>
    <button> <a href  = "/">Volver al index</a> </button>  
</div>
</main>
</body>
</html>