<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/header') %>
    <main>
    <h1>Los alumnos buscados fueron: </h1>
    <div class = "presentacion">
    <% if(userResults.length ==0) { %> 
        <h3>No hemos podido encontrar!</h3>
        <% } else { %>
    <% for (let i=0;i< userResults.length; i++) { %>     
        <li>
            <a href = "/alumnos/presentar?userID=<%=  userResults[i].id %>">  Nombre: <%= userResults[i].name %> </a>   
        </li>

        <BR>
    <% } %>
    <% } %>
    <br>
    <h2>Para volver a intentar buscar hace <a href = "/">Click aqui</a></h2>
</div>
</main>
</body>
</html>