<header>
    <div class = "top">
        <ul type  = "none">
            <li><a href  = "/alumnos/crear">Crear</a> </li>
            <li><a href = "/users/login" >Ingresar</a> </li>
            <li><a href = "/users/register" >Registrar</a> </li>
            <li><a href = "/">Al INDEX</a></li>
        </ul>
         
         <form action = "/alumnos/search" method="GET">
            <input type = "text" name = "search">
            <input type="submit" value="Search" >
        </form>
    </div>

    <div class = "low">

    </div>
</header>