*{
    box-sizing: border-box;
}



body{ margin: 0;
      height: 100%;
}

header {
    background-color:#323233 ;
    height:140px;
    position: relative;
    top: 0;
    
}


header .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;

}


header .top .logo{
    font-size: 36px;
    align-self: center;

}

header .top form{
    align-self:center;
}

header .top a{
    text-decoration: none;
    color: white;

}



header .top .search {
    background-color: #1E1E1E;
    height: 40px;
    box-sizing: 40px;
    padding:10px;
    border-radius: 40px;

}

header .top .search .search-box{
    border: none;
    background-color: #1E1E1E ;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    width: 360px;

}



header .top .search .search-btn{
    color: black;
    float: right;
    width: 40px;
    height: 18px;
    border-radius: 50%;
    background-color: #1E1E1E ;
    display: flex;
    justify-content: center;
    align-items: center;


}

header .top .user{
    display: flex;
    align-items: center;
}

header .top .user a{
    margin:  0 9px;
}

header .top .user i{
    background-color: rgb(26, 121, 153);
    color: white;
    padding: 12px;
    border-radius: 50%;
    font-size: 24px;
}



header .low ul{
    margin-left: -25px;
    display: flex;
    flex-direction: row;
    text-align: center;

}

header .low li a{
    text-decoration: none;
    color: white;
    margin: 5px;
}
main{
    margin: 0;
    background-color: #1E1E1E;
    height: 100vh;
}

main h1{
    margin: 0 40px;
    padding: 20px 0;
    color: white;

}

main .alumno{
    background-color: rgb(230,230,230);
    width: 90%;
    height: 130px;
    margin:20px auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

main  a{
    text-decoration: none;
    color: black;
    
}

main .alumno .info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    padding: 0px 10px ;
    border-left: 1px solid black;
}

main .alumno .foto{
    align-self: center;
    display: flex;
}

main .alumno .foto img{
    border-radius: 50%;
    width:130px;
    height: 120px;
 
}

footer{
    background-color: #323233;
    height: 100px;
    position: relative;
    bottom: 0;

}


body main .presentacion{
    background-color: rgb(230,230,230);
    margin: 0px auto;
    width: 90%;
    padding: 10px;
    border-radius: 10px; 

}



body main .presentacion .ingreso .errores{
    font-size: 12px;
    color: green;
}

body main .presentacion .foto{
margin: 10px;
text-align: center;
}

body main .presentacion img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    
}


/*ESTILO LOGIN******************


body{
    margin: 0;
}

.background-login{
    display: none;
    }

    .form-login{
        display: flex;
        flex-direction: column;
        flex: 1 1 60%;
        height: 100vh;
        justify-content: center;
        background-color: rgb(245,245,245);
    }
    .form-container{
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        height: 90%;
        margin: auto;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        background-color: rgb(255, 255, 255);
        max-width: 1000px;
    }
    .form-container img{
        margin: 3em 0;
     }
    .buttons a{
        display: block;
    }
    .buttons button{
        margin:0.5em 0;
        border:none;
        width:100%;
        background-color: darkred;
        border-radius: 5px;
        color: white;
        height: 2.3em;
    }
    .ingreso{
        width: 80%;
    }
    .ingreso h3{
        text-align: center;
        font-size: 1.8em;
        margin-bottom: 0.8em;
    }
    .ingreso input {
        margin-bottom: 1em;
    }
    




@media screen and (min-width:768px) {}







@media screen and (min-width:1241px) {
    
.container-login{
display: flex;
}
.background-login{
    display: block;
    flex: 1 1 40%;
    height: 100vh;

    }
.form-login{
    display: flex;
    flex-direction: column;
    flex: 1 1 60%;
    height: 100vh;
    justify-content: center;
    background-color: rgb(245,245,245);
}
.form-container{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    height: 80%;
    margin: auto;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    background-color: rgb(255, 255, 255);
}
.form-container img{
    margin: 3em 0;
 }
.buttons a{
    display: block;
}
.buttons button{
    margin:0.5em 0;
    border:none;
    width:100%;
    background-color: darkred;
    border-radius: 5px;
    color: white;
    height: 2.3em;
}
.ingreso{
    width: 80%;
}
.ingreso h3{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0.8em;
}
.ingreso input {
    margin-bottom: 1em;
}

}

*/