<!DOCTYPE html>
<html lang="en">
<html lang="en">
<%- include('../partials/head') %>


    <body>
        <%- include('../partials/header') %>
            <main>
                <h1>LOGIN</h1>
                <div class="presentacion">

                    <div class="form-login">
                        <div class="form-container">



                            <div class="ingreso">

                                <h3>Ingresá a tu cuenta</h3>
                                <form action="/" method="POST">

                                    <input type="text" name="username" placeholder="Usuario" class="form-control" required>
                                    <br>
                                    <br>
                                    <input type="password" name="password" placeholder="Contraseña" class="form-control">
                                    <br>
                                    <br>
                                    <a href="#">No recuerdo mi Contraseña</a>

                                    <br>
                                    <div class="buttons">
                                        <br>
                                        <a href="/index">
                                            <button class="login-botton">
                                                Ingresar
                                            </button>
                                        </a>

                                    </div>
                                    <br>

                                    No tenes una cuenta? <a href="/users/register">Registrate aca</a>

                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </main>
    </body>

</html>