<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-login">
        <div class="background-login">
            <img src = "../image/login/loginimage.jpeg" width="100%" height = "100%" >
        </div>
        <div class="form-login">
            <div class="form-container">

            
            <a href="/">
                <img src="/image/Logos/Logophone.png" width = 130px>
            </a>
            <div class="ingreso">

                <h3>Ingresá a tu cuenta</h3>
                <form action="/" method="POST">
                        <input type="text" name="username" placeholder="Usuario" class="form-control"
                            required>
                    
                        <input type="password" name="password" placeholder="Contraseña" class="form-control">
                        <a href = "#">No recuerdo mi Contraseña</a>
                    <div class="buttons">
                        <a href="/index">
                            <button class="login-botton">
                                Ingresar
                            </button>
                        </a>
                        
                    </div>
                    No tenes una cuenta? <a href="/users/register">Registrate aca</a>

                </form>
            </div>
            </div>

        </div>
    </div>
    </div>

</body>
</html>